<div class="container" at-drag-n-drop>
  <table class="table table-striped table-hover" style='border-style: dashed;'>        
    <tbody>
      <tr>
        <th class='col-md-1'>Item #</th>
        <th class='col-md-4'>Title</th>
        <th class='col-md-2'>Encoded video</th>
      </tr>
      <tr ng-repeat="video in videos">
        <td>{{$index + 1}}</td>
        <td>{{video.title}}</td>
        <td>
          <!-- <a id="Video1" ng-if="video.showlink" href="{{video.url}}">Preview</a> -->
          <video id="Video1" controls ng-if="video.showlink" type="video/mp4" src="{{video.url}}"></video>
          <span ng-if="video.showlink == false">{{video.url}}</span>
        </td>
      </tr>
      <tr>
        <td colspan="3" style='text-align: center'>
          <!-- <input class="btn btn-error" type="button" value="Delete all" ng-click="deleteall()"/> -->
          <span style='font-size: 24px' ng-click='deleteall()'>Drag a video file somewhere inside the box</span>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<div class='modal fade at-unsupported-file-modal-sm' tabindex='-1' role='dialog'>
  <div class='modal-dialog modal-sm'>
    <div class='modal-content form-inline'>
      <div class='modal-header'>Error</div>
      <div class='modal-body'>
       <p>Unsupported file format or more than one file is passed</p>
      </div>
    </div>
  </div>
</div>
